<p class="text-success"><%= notice %></p>

<h1>Categories</h1>

<div id="categories">
  <% @categories.each do |category| %>
    <div id="<%= dom_id category %>" class="card mb-3">
      <div class="card-body">
        <p class="card-title">
          <%= category.name %>
        </p>
      </div>
      <p>
        <%= link_to "Show this category", category, class: "btn btn-primary" %>
      </p>
    </div>
  <% end %>
</div>

<%= link_to "New category", new_category_path, class: "btn btn-success" %>
