<div class="card text-center">
  <div class="card-header">
    <h5 class="card-title">Date from: <%= params["start_date"] %> to: <%= params["end_date"] %></h5>
  </div>
  <div class="card-body">
    <canvas id="lineChart"></canvas>
  </div>
</div>
<%=link_to 'Back', :back, class: 'btn btn-dark mt-3' %>
<script>

  document.addEventListener('DOMContentLoaded', function () {
    const data = {
      labels: <%= raw @dates %>,
      datasets: [
        {
          label: 'UAH',
          data: <%= raw @amount %>,
          backgroundColor: 'rgba(75, 192, 192, 0.2)', // Optional
          borderColor: 'rgba(75, 192, 192, 1)', // Optional
          borderWidth: 1 // Optional
        }
      ]
    };

    // Chart configuration
    const config = {
      type: 'line',
      data: data,
      options: {
        responsive: true,
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    };

    // Create the chart
    const lineChart = new Chart(document.getElementById('lineChart'), config);
  })
</script>