<div class="card text-center">
  <div class="card-header">
    <%= params["spend"] == 0 ? 'Витрата' : 'Дохід' %>
  </div>
  <div class="card-body">
    <h5 class="card-title">Дата з: <%= params["start_date"] %> по: <%= params["end_date"] %></h5>
    <div class="chart-container">
      <canvas id="lineChart"></canvas>
    </div>
  </div>
</div>
<script>

  document.addEventListener('DOMContentLoaded', function () {
    const data = {
      labels: <%= raw @dates %>,
      datasets: [
        {
          label: 'грн',
          data: <%= raw @amount %>,
          backgroundColor: 'rgba(75, 192, 192, 0.2)', // Optional
          borderColor: 'rgba(75, 192, 192, 1)', // Optional
          borderWidth: 1 // Optional
        }
      ]
    };

    // Chart configuration
    const config = {
      type: 'line',
      data: data,
      options: {
        responsive: true,
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    };

    // Create the chart
    const lineChart = new Chart(document.getElementById('lineChart'), config);
  })
</script>